.row
  = simple_form_for staff, url: staff_member_path(staff) do |f|
    .large-3.column
      = staff.email
    .large-3.column
      = f.association :role, collection: Role.all, include_blank: false
    .large-3.column
      = f.button :submit, class: 'tiny'

  .large-3.column
    = link_to 'Delete', staff_member_path(staff), method: :delete, data: { confirm: "Are you sure delete this member?" }, class: 'button tiny'
