.row
  = simple_form_for @staff_new, url: staff_members_path do |f|
    .large-3.columns
      = f.input :email, as: :email
    .large-3.columns
      = f.association :role, collection: Role.all, include_blank: false, priority: 'member'
    .large-2.columns
      = f.input :password, as: :password, hint: "8 characters minimum"
    .large-2.columns
      = f.input :password_confirmation, label: 'Password confirm', as: :password
    .large-2.columns
      = f.button :submit, class: 'small'

