.row
  = simple_form_for current_staff, url: update_password_staff_member_path do |f|
    .large-3.columns
      = f.input :password, as: :password
      = f.input :password_confirmation, as: :password
      = f.button :submit
