%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h1 Hello, #{@mail.name}
    %p Your ticket was added and you can view it on #{link_to('url', ticket_url(@mail.tickid))}
