.row
  .large-4.columns
    = f.input :name
  .large-4.columns
    = f.input :email, as: :email
  .large-4.columns
    = f.association :department, collection: Department.all, include_blank: false
.row
  .large-8.columns
    = f.input :subject
.row
  .large-12.columns
    = f.input :body, as: :text
    = f.button :submit
#capcha
  = f.input :capcha, label: 'Don\'t fill this field, please', style: 'display: none;'
