%h3 History Log
- ticket_object.all_versions.each do |ticket|
  .row
    .large-4.columns
      %span.label.success.round= ticket[:event]
      %span.label.round= distance_of_time_in_words_to_now(ticket[:date], include_seconds: true)
      %span.label.secondary.round= "by #{ticket[:author]}"
    .large-8.columns
      .row
        %span.label.warning.round Status
        = ticket[:status]
      .row
        %span.label.warning.round Name
        = ticket[:name]
      .row
        %span.label.warning.round Email
        = ticket[:email]
      .row
        %span.label.warning.round Department
        = ticket[:department]
      .row
        %span.label.warning.round Subject
        = ticket[:subject]
      .row
        %span.label.warning.round Body
        = ticket[:body]
  %p
