%h2 Your ticket ##{@ticket.tickid}
%p= "Status: #{@ticket.status.name}"
= simple_form_for @ticket, url: ticket_path(@ticket.tickid) do |f|
  = render 'form', f: f
= render 'history', ticket_object: @ticket
