- comments.each do |comment|
  .row
    .large-6.columns
      - if comment.created_at
        %span.label.secondary.round= time_ago_in_words(comment.created_at, include_seconds: true)
      - if comment.staff
        %span.label.secondary.round= comment.staff.email
        %p= comment.body
