= simple_form_for @ticket, url: update_ticket_staff_ticket_path(@ticket.tickid) do |f|
  .row
    .large-4.columns
      = f.association :status, include_blank: false
    .large-4.columns
      = f.association :department, include_blank: false
    .large-4.columns
      = f.association :staff, label: 'Owner'
  = render 'comments_list', comments: @ticket.comments
  .row
    .large-6.columns
      = f.simple_fields_for :comments do |c|
        - if c.object.id.nil?
          = c.input :body
          = c.input :staff_id, as: :hidden, input_html: { value: @current_staff_id }
  = f.button :submit
