- tickets.each do |ticket|
  .row
    .large-12.columns
      %span.label.secondary.round= distance_of_time_in_words_to_now(ticket.created_at)
      %span.label.warning.round= ticket.department.name
      %span.label.success.round= ticket.status.name
      %h6= ticket.email
      %h3= link_to ticket.subject, staff_ticket_path(ticket.tickid)
      -if ticket.staff
        %p= "Owner #{ticket.staff.email}"
      %p= ticket.body
  %p
