%span.label.secondary.radius= @ticket.tickid
%span.label.secondary.radius= distance_of_time_in_words_to_now @ticket.created_at

%h2= @ticket.subject
%p= @ticket.body

= render 'form'
= render 'tickets/history', ticket_object: @ticket

