- if staff_signed_in?
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1= link_to 'Helpdesk', root_url
    %section.top-bar-section
      %ul.left
        %li= link_to 'New Unassigned Tickets', unassigned_staff_tickets_path
        %li= link_to 'Open Tickets', opened_staff_tickets_path
        %li= link_to 'On hold tickets', on_hold_staff_tickets_path
        %li= link_to 'Closed Tickets', closed_staff_tickets_path
        %li= link_to 'Change Password', edit_password_staff_member_path(current_staff)
        %li= link_to 'Manage Members', staff_members_path if current_staff.admin?
      %ul.right
        %li.divider
        %li= link_to 'Log Out', destroy_staff_session_path, method: :delete
- else
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1= link_to 'Helpdesk', root_url
    %section.top-bar-section
      %ul.right
        %li.divider
        %li= link_to 'Log In as Saff', new_staff_session_path
