!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %title= content_for?(:title) ? yield(:title) : 'Helpdesk'

    = stylesheet_link_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr", 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'layouts/navigation'

    .row
      .large-12.large-centered.columns
        %p.notice= notice
        %p.alert= alert

    .row
      .large-12.large-centered.columns
        = yield

    = javascript_include_tag "application", 'data-turbolinks-track' => true
